/*COLORES PARA LA PAGINA WEB
AZUL OSCURO = #1B5EB5
CELESTE = #0496FF
AMARILLO = #FFBC42
ROSADO ROJISO = #D81159
ROJO PALIDO = #8F2D56

TIPO DE FUENTES
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body{

    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

ol,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

figure {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;

}

h1{
    color: #1B5EB5;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -3.5px;
    margin: 0px;
}

h1 strong{
    color: #D81159;
}

h2 {
    color: #FFBC42;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

.header{
    background-color: #1B5EB5;
    color: #FFBC42;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
    z-index: 99;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.logo img {
    height: 50px;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.header a {
    color: #FFBC42;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.hero {
    height: 300px;
    background-image: url('../images/familia01.jpg');
    background-color: #FFBC42;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.kid{
    background-color: #1B5EB5;
    padding: 20px;
}

.historia {
    /*border-color: #D81159;
    border-width: 15px;
    border-style: solid;*/
    background-color: #FFBC42;
    /*border: 1px solid #D81159;*/
    border-radius: 10px;
    /*margin: 10px;*/
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.historia-details{
    width: 45%;
}

.historia-title {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #D81159;
    text-transform: uppercase;
}

.historia-date {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #1B5EB5;
}

.historia-url {
    color: #1B5EB5;
    margin-top: 0px;
    margin-bottom: 10px;
}

.historia-description {
    color: #1B5EB5;
    font-size: 20px;
}

.historia-imageContainer{
    width: 40%;
}

.historia strong {
    font-family: 'Roboto', sans-serif;
}

.studies {
    margin-left: 10px;
}

.studies-list {
    display: flex;
}

.school {
    border: 1px solid #FFBC42;
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #FFBC42;
}

.school img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.school-details {
    margin: 20px 40px;
    background-color: #1B5EB5;
    margin-top: -40px;
    position: relative;
    color: #FFBC42;
    padding: 20px;
    text-align: center;
    z-index: 0;
}

.school-description{
    text-align: justify;
}

.university {
    border: 1px solid #FFBC42;
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #FFBC42;
}

.university img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.university-details {
    margin: 20px;
    background-color: #1B5EB5;
    margin-top: -40px;
    position: relative;
    color: #FFBC42;
    padding: 20px;
    text-align: center;
    z-index: 0;
}

.university-description {
    text-align: justify;
}

.contact {
    background-color: #1B5EB5;
    color: #FFBC42;
    height: 150px;
    display: flex;
    align-items: center;
}

.social {
    border: 1px solid #FFBC42;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #FFBC42;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
    background-size: 50px 50px;
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
    background-size: 50px 50px;
}

.social-link.github {
    background-image: url('../images/github.svg');
    background-size: 50px 50px;
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
    background-size: 50px 50px;
}

.footer {
    color: #D81159;
    background-color: #FFBC42;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;   
}

.footer a {
    color: #1B5EB5;
}