/*COLORES PARA LA PAGINA WEB
AZUL OSCURO = #1B5EB5
CELESTE = #0496FF
AMARILLO = #FFBC42
ROSADO ROJISO = #D81159
ROJO PALIDO = #8F2D56

TIPO DE FUENTES
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body{

    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

ol,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

figure {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

h1{
    color: #1B5EB5;
    font-size: 35px;
    line-height: 150%;
    letter-spacing: -3.5px;
    margin: 0px;
}

h1 strong{
    color: #D81159;
}

h2 {
    color: #FFBC42;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

.header{
    background-color: #1B5EB5;
    color: #FFBC42;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
    /*
    z-index: 99;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;*/
}

.logo img {
    height: 50px;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.header a {
    color: #FFBC42;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.hero {
    height: 300px;
    /*background-image: url('../images/familia01.jpg');*/
    background-color: #FFBC42;
    /*background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: right;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    object-fit: cover;
}

.kid{
    background-color: #1B5EB5;
    padding: 20px;
}

.historia {
    /*border-color: #D81159;
    border-width: 15px;
    border-style: solid;*/
    background-color: #FFBC42;
    /*border: 1px solid #D81159;*/
    border-radius: 10px;
    /*margin: 10px;*/
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 5px 33px #FFBC42;
}

.historia-details{
    width: 45%;
}

.historia-title {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #D81159;
    text-transform: uppercase;
}

.historia-date {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #1B5EB5;
}

.historia-url {
    color: #1B5EB5;
    margin-top: 0px;
    margin-bottom: 10px;
}

.historia-description {
    color: #1B5EB5;
    /*font-size: 20px;*/
}

.historia-imageContainer{
    /*width: 40%;*/
}

.historia strong {
    font-family: 'Roboto', sans-serif;
}

.studies {
    /*margin-left: 10px;*/
    background-color: #FFBC42;
    padding: 20px;
}

.studies h2 {
   /* margin: 30px 0px 20px 0px;*/
   /*margin-top: 0px;*/
   margin-top: 20px;
   margin-bottom: 35px;
   color: #1B5EB5;
}

.studies-list {
    display: flex;
    /*flex-wrap: wrap;*/
}

.school {
    border: 1px solid #1B5EB5;
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #1B5EB5;
    box-shadow: 3px 5px 33px #1B5EB5;
}

.school img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.school-details {
    margin: 20px 40px;
    background-color: #FFBC42;
    margin-top: -40px;
    position: relative;
    color: #1B5EB5;
    padding: 20px;
    text-align: center;
    z-index: 0;
}

.school-title {
    color: #D81159;
}

.school-description{
    text-align: justify;
}

.university {
    border: 1px solid #1B5EB5;
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #1B5EB5;
    box-shadow: 3px 5px 33px #1B5EB5;
}

.university img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.university-title {
    color: #D81159;
}

.university-details {
    margin: 20px;
    background-color: #FFBC42;
    margin-top: -40px;
    position: relative;
    color: #1B5EB5;
    padding: 20px;
    text-align: center;
    z-index: 0;
}

.university-description {
    text-align: justify;
}

.contact {
    background-color: #1B5EB5;
    color: #FFBC42;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.future {
    background-color: #1B5EB5;
    padding: 20px;
}

.planes {
    background-color: #FFBC42;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 5px 33px #FFBC42;
}

.planes-details {
    width: 45%;
}

.planes-title {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #D81159;
    text-transform: uppercase;
}

.planes-description {
    color: #1B5EB5;
    font-size: 20px;
}

.planes-imageContainer {
    /*width: 40%;*/
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
}

.time {
    background-color: #FFBC42;
    padding: 20px;
}
.time h2{
    color: #1B5EB5;
}

.hobbie {
    background-color: #1B5EB5;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 5px 33px #1B5EB5;
}

.hobbie-details {
    width: 45%;
}

.hobbie-title {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #FFBC42;
    text-transform: uppercase;
}

.hobbie-imageContainer {
    /*width: 40%;*/
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
}

.hobbie-description {
    color: white;
    font-size: 20px;
}

.hobbie-url {
    color: #FFBC42;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.form-email input{
    border-color: #FFBC42;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    display: block;
    background: transparent;
    color: #FFBC42;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    margin: 10px 0px;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0px 10px;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.github {
    background-image: url('../images/github.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.footer {
    color: #1B5EB5;
    background-color: #FFBC42;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;   
}

.footer a {
    color: #D81159;
}

.footer img {
    width: 15px;
    vertical-align: middle;
    /*padding-left: 2px;
    padding-bottom: 5px;*/
    box-shadow: 3px 5px 33px #1B5EB5;
    object-fit: cover;

}

.container {
    /*border: 1px solid #D81159;*/
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    /*flex-wrap: inherit;*/
}